@mixin title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;

}

@mixin container {
    margin: 0 auto;
    padding: 0 15px;
}