@import "_variables.scss";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.main-header {
    height: 37px;
    margin-top: 23px;

    @media(min-width: $tablet-P) {
        height: 55px;
        width: 100%;
    }

    @media(min-width: $tablet-N) {
        height: 55px;
        width: 100%;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: end;
        margin-left: auto;
        margin-right: auto;
        width: 103%;
    }

    @media(min-width: $tablet-N) {
        display: inline-block;
        vertical-align: middle;
    }
}

.toggle-button {
    height: 37px;
    border: none;
    cursor: pointer;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 23px;
    width: 44px;

    &:focus {
        outline: none;
    }

    @media (min-width: $tablet-P) {
        display: none;
    }

    @media (min-width: $tablet-N) {
        display: none;
    }

    &__bar {
        width: 17px;
        height: 2px;
        background: white;
        display: block;
        margin: 2px 2px 2px 8px;
    }
}

.top-menu {
    display: none;
    width: 182px;
    position: relative;
    margin-top: -36px;
    margin-left: 55%;

    @media (min-width: $tablet-P) {
        display: flex;
        vertical-align: middle;
        justify-content: space-around;
        height: 54px;
        width: 85%;
        margin-left: 9%;
        left: 0;
        margin-top: 0;
    }

    @media (min-width: $tablet-N) {
        display: flex;
        vertical-align: middle;
        justify-content: space-around;
        height: 54px;
        width: 75%;
        margin-left: 13%;
        left: 0;
        margin-top: 0;
    }

    &__items {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: start;
        background: #f5f5f5;
        list-style: none;
        gap: 8px;
        padding-left: 17px;

        @media (min-width: $tablet-P) {
            flex-direction: row;
            align-items: center;
            gap: 29px;
            width: 100%;
            background-color: white;
            padding-left: 0;
        }

        @media (min-width: $tablet-N) {
            flex-direction: row;
            align-items: center;
            gap: 29px;
            width: 100%;
            background-color: white;
            padding-left: 0;

        }
    }

    &__item {
        font-weight: 400;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
    }
    // &__item:hover {
    //     background-color: #E5E5E5;
    //     width: 100%;
    //     height: 100%;

    //     @media (min-width: $tablet-P) {
    //         background-color: white;
    //         color: #57A4A4;
    //     }
    //     @media (min-width: $tablet-N) {
    //         color: #57A4A4;
    //         background-color: white;
    //         width: 7%;
    //     }
    // }

    &__iten {
        text-decoration: none;
        color: #4E4E4E;
    }
    &__iten:hover {
        color: #57A4A4;
    }
}

.photo {
    margin-top: 30px;
    margin-left: 3%;
    margin-right: 2%;
    width: 100%;
    height: 100%;

}