@import "_variables.scss";
@import "_mixins.scss";

.container {
    @include container;
}

.title {
    @include title;
}



.recent-posts {
    margin-top: 28px;

    @media (min-width: $tablet-P) {
        margin-left: 2%;
    }

    @media (min-width: $tablet-N) {
        margin-left: 2%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        @media (min-width: $tablet-P) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            column-gap: 55px;
        }

        @media (min-width: $tablet-N) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 55px;
        }
    }
}

.post {
    max-width: 555px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;

    @media (min-width: $tablet-P) {
        max-width: 555px;
        max-height: 140px;
        flex-direction: row;
        justify-content: start;
        gap: 19px;
    }

    @media (min-width: $tablet-N) {
        max-width: 555px;
        max-height: 140px;
        flex-direction: row;
        justify-content: start;
        gap: 19px;
    }

    &__img {
        max-width: 160px;
        max-height: 140px;
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__name {
        font-size: 14px;
        margin: 0;
        font-weight: 700;
        color: #4e4e4e;
        line-height: 30px;
    }

    &__comments {
        font-size: 11px;
        margin: 0;
        font-size: 12px;
        color: #7c7c7c;
    }

    &__description {
        display: none;
        font-size: 14px;
        color: #5c5c5c;
        line-height: 26px;

        @media (min-width: $tablet-P) {
            display: block;
        }

        @media (min-width: $tablet-N) {
            display: block;
        }
    }
}

.post.noactive {
    display: none;

    @media (min-width: $tablet-P) {
        display: flex;
        flex-direction: row;
        gap: 19px;
        justify-content: start;
        max-height: 140px;
        max-width: 555px;
    }

    @media (min-width: $tablet-N) {
        display: flex;
        flex-direction: row;
        gap: 19px;
        justify-content: start;
        max-height: 140px;
        max-width: 555px;
    }
}

.instagram .container {
    @media (min-width: $tablet-P) {
        padding: 0 30px;
    }
    @media (min-width: $tablet-N) {
        padding: 0 30px;
    }
}

.instagram {
    width: 105%;
    padding-bottom: 50px;

    @media (min-width: $tablet-P) {
        background-color: rgba(0, 0, 0, .03);

    }

    @media (min-width: $tablet-N) {
        background-color: rgba(0, 0, 0, .03);
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin-top: 77px;
        margin-bottom: 24px;
        padding-top: 30px;
    }

    &__link {
        display: none;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
        color: #4E4E4E;

        @media (min-width: $tablet-P) {
            display: block;
        }

        @media (min-width: $tablet-N) {
            display: block;
        }
    }

    &__objects {
        display: grid;
        justify-content: start;
        grid-gap: 10px;

        @media (min-width: $tablet-P) {
            display: grid;
            grid-auto-flow: column;
            grid-gap: 10px;
            justify-content: space-between;
            position: relative;
        }
    }

    &__shot {
        display: block;
    }

    &__shot.noactive.second {
        display: none;

        @media (min-width: $tablet-N) {
            display: block;
        }
    }

    &__shot.noactive {
        display: none;

        @media (min-width: $tablet-P) {
            display: block;
            margin-left: -60px;
        }

        @media (min-width: $tablet-N) {
            display: block;
        }
    }

}

.footer {
    background-color: #000;
    text-align: center;
    padding-top: 57px;
    padding-bottom: 56px;
    width: 105%;

    .title {
        color: white;
    }

    &__content {
        max-width: 684px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        color: #b9b9b9;
        margin: 0 auto;
    }

    &__description {
        color: #B9B9B9;
        font-size: 12px;
        line-height: 28px;
    }

    &__media {
        display: flex;
        gap: 6px;
    }

    &__social {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}

.contact {
    font-size: 14px;
    line-height: 24px;
    &__adress {
        display: block;

    }

    &__tel {
        color: #b9b9b9;
        text-decoration: none;
        display: block;

    }

    &__mail {
        color: #b9b9b9;
        text-decoration: none;
    }
}